@{
    ViewData["Title"] = "Mentor";
}

    <div class="row">
        <div class="col-lg-3 ">
            <!-- контент блока 1 -->
            <a href=""><img src="~/img/noName.png" /></a>
        </div>
        <div class="col-lg-3">
            <!-- контент блока 2 -->
            <a href=""><img src="~/img/noName.png" /></a>
        </div>
        <div class="col-lg-3">
            <!-- контент блока 3 -->
            <a href=""><img src="~/img/noName.png" /></a>
        </div>
        <div class="col-lg-3">
            <!-- контент блока  4 -->
            <a href=""><img src="~/img/noName.png" /></a>
        </div>
        <div class="col-lg-3">
            <!-- контент блока 1 -->
            <a href=""><img src="~/img/noName.png" /></a>
        </div>
        <div class="col-lg-3">
            <!-- контент блока 2 -->
            <a href=""><img src="~/img/noName.png" /></a>
        </div>
        <div class="col-lg-3">
            <!-- контент блока 3 -->
            <a href=""><img src="~/img/noName.png" /></a>
        </div>
        <div class="col-lg-3">
            <!-- контент блока  4 -->
            <a href=""><img src="~/img/noName.png" /></a>
            
        </div>

    </div>