
<h2>Выбор типа пользователя</h2>

<a id="add-cart-style-grid" class="btn btn-success" asp-controller="Account" asp-action="Register" asp-route-userType="Teacher">Преподаватель</a>
<a id="add-cart-style-grid" class="btn btn-success" asp-controller="Account" asp-action="Register" asp-route-userType="Student">Студент</a>