@model TeacherProfileViewModel
@{
    ViewData["Title"] = "ll";
}

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3" id="leftSide">
            <a asp-controller="UserSettings" asp-action="AvatarSettings">
                <img src="~/img/noName.png" id="sizePht" />
                @*@if (Model.User.AvatarPath == "")
              {
                  <img src="~/img/noName.png" id="sizePht" />
              }
              else
              {
                  <img src="@Url.Content(Model.User.AvatarPath)" id="sizePht" />
            }*@

            </a>

            <p>Имя: @Model.User.Name</p>
            <p>Фамилия: @Model.User.Surname</p>

        </div>
        <div class="col-lg-5 col-md-5" id="centerSide">
            колонка 2
        </div>
        <div class="col-lg-4 col-md-4" id="rightSide">
            колонка 3
        </div>
    </div>
</div>