@model RegisterUserViewModel

@{
    Layout = "_LayoutForAdmin";
}

<div class="container">
    <h2>Добавление администратора</h2>

    <form class="form-signin" asp-controller="Admin" asp-action="CreateAdminConfirmed" method="post">
        <div asp-validation-summary="ModelOnly"></div>

        <div>
            <label asp-for="Surname">Фамилия</label><br />
            <input asp-for="Surname" class="form-control" placeholder="Иванов" />
            <span asp-validation-for="Surname"></span>
        </div>

        <div>
            <label asp-for="Name">Имя</label><br />
            <input asp-for="Name" class="form-control" placeholder="Иван" />
            <span asp-validation-for="Name"></span>
        </div>

        <div>
            <label asp-for="Patronymic">Отчество</label><br />
            <input asp-for="Patronymic" class="form-control" placeholder="Иванович" />
            <span asp-validation-for="Patronymic"></span>
        </div>

        <div>
            <label asp-for="Email">Почта</label><br />
            <input asp-for="Email" class="form-control" placeholder="ivanov@ivanoc.com" />
            <span asp-validation-for="Email"></span>
        </div>

        <div>
            <label asp-for="PhoneNumber">Номер телефона</label><br />
            <input asp-for="PhoneNumber" class="form-control" placeholder="+38XXXXXXXXXX" />
            <span asp-validation-for="PhoneNumber"></span>
        </div>

        <div>
            <label asp-for="Birthday">Дата рождения</label><br />
            <input asp-for="Birthday" type="date" class="form-control" />
            <span asp-validation-for="Birthday"></span>
        </div>

        <div>
            <label asp-for="Password">Пароль</label><br />
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password"></span>
        </div>

        <div>
            <label asp-for="PasswordConfirm">Подтверждение пароля</label><br />
            <input asp-for="PasswordConfirm" class="form-control" />
            <span asp-validation-for="PasswordConfirm"></span>
        </div>

        <p class="mt-3 mb-3 "></p>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Добавить админинстратора</button>
    </form>
</div>