@model FacultyViewModel

@{
    Layout = "_LayoutForAdmin";
}

    <table>
        <thead>
            <tr>
                <th>Название</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Faculty faculty in Model.AllFaculties)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => faculty.Name)</td>

                    <td>
                        <a asp-controller="Admin" asp-action="EditUser" asp-route-id="@faculty.Id">Редактировать</a> |
                        <a asp-action="Details" asp-route-id="@faculty.Id">Детали</a> |
                        <a asp-controller="Admin" asp-action="DeleteUser" asp-route-id="@faculty.Id">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>