
@{
    Layout = "_LayoutForAdmin";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6">
               <p align="center"><a><img src="~/img/forFacAndDep/Departments.png" /></a></p> 
        </div>
        <div class="col-lg-6">
            <p align="center"><a asp-controller="Admin" asp-action="Faculties"><img src="~/img/forFacAndDep/Faculty.png" /></a></p>
        </div>
    </div>
</div>
