
@{
    Layout = "_LayoutForAdmin";
}

    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-4">
                <a asp-controller="Admin" asp-action="Users">Управление пользователями</a>
            </div>
            <div class="col-lg-4">
                <a asp-controller="Admin" asp-action="">Добавление факультетов/кафедр</a>
            </div>
            <div class="col-lg-4">
                <a asp-controller="Admin" asp-action="">Добавление групп</a>
            </div>
            @*@*@
        </div>
    </div>