
@{
    Layout = "_LayoutForAdmin";
}

    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-4">
                <a asp-controller="Admin" asp-action="Users">Управление пользователями</a>
            </div>
            <div class="col-lg-4">
                <a asp-controller="Admin" asp-action="FacultyOrDepartment">Факультеты|Кафедры</a>
            </div>
            <div class="col-lg-4">
                <a asp-controller="Admin" asp-action="">Группы</a>
            </div>
        </div>
    </div>