
@{
    Layout = "_LayoutForAdmin";
}

    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-4">
                <p align="center"><a asp-controller="Admin" asp-action="Users"><img src="~/img/forFacAndDep/users.png" /></a></p>
            </div>
            <div class="col-lg-4">
                <p align="center"><a asp-controller="Admin" asp-action="FacultyOrDepartment"><img src="~/img/forFacAndDep/fucanddep.png" /></a></p>
            </div>
            <div class="col-lg-4">
                <p align="center"><a asp-controller="New" asp-action="AllNew"><img src="~/img/forFacAndDep/news.png" /></a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <p align="center"><a div class="btn btn-outline-dark" asp-controller="Admin" asp-action="Users">Управление пользователями</a></p>
            </div>
            <div class="col-lg-4">
                <p align="center"><a div class="btn btn-outline-dark" asp-controller="Admin" asp-action="FacultyOrDepartment">Факультеты|Кафедры</a></p>
            </div>
            <div class="col-lg-4">
                <p align="center"><a div class="btn btn-outline-dark" asp-controller="New" asp-action="AllNew">Новости</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p align="center"><a asp-controller="Admin" asp-action="Groups"><img src="~/img/forFacAndDep/groups.jpg" /></a></p>
            </div>
            <div class="col-lg-6">
                <p align="center"><a asp-controller="Admin" asp-action="Positions"><img src="~/img/forFacAndDep/positions.jpg" /></a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p align ="center"><a div class="btn btn-outline-dark" asp-controller="Admin" asp-action="Groups">Группы</a></p>
            </div>
            <div class="col-lg-6">
                <p align="center"><a div class="btn btn-outline-dark" asp-controller="Admin" asp-action="Positions">Должности</a></p>
            </div>
        </div>
    </div>