@model DepartmentViewModel

@{
    Layout = "_LayoutForAdmin";
}

<h2>Добавление кафедры</h2>

@{using (Html.BeginForm("CreateDepartmentConfirmed", "Admin", FormMethod.Post))
    {

        <div asp-validation-summary="ModelOnly"></div>

        <div>
            <label asp-for="Name"></label><br />
            <input asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>

        @Html.DropDownListFor(m => m.FacultyId, Model.FacultyItems, "Пожалуйста, выбирете факультет", new { @class = "form-control" });

        <input type="submit" value="Добавить кафедру" />
    }
}