body {
}
#footer {
    position: fixed;
    background: #0346b0;
    position: absolute;
    width: 100%;
    flex: 0 0 auto;
    border-top: 0;
    word-wrap: break-word; /*нужно еще что-то добавить*/
}

#sizeTd{
    height:auto;
    width:33%;
}

#who {
    padding-top:0px;
    font-size: 23px;
    color: white;
    font-family: Times, Times New Roman, serif;
    font-weight: 100;
}
#kindText {
    padding-left:20px;
    font-size: 14px;
    color: white;
    font-family: Times, Times New Roman, serif;
    font-weight: 100;
}
#crazydiv {
    font-size: 18px;
    color: white;
    font-family: Times, Times New Roman, serif;
    font-weight: 100;
}