body {
}

table {
    width: 100%;
}

/*td, th {
    padding: 3px;
    border: 1px solid black; 
}
th {
    background: #b0e0e6; 
}*/

#leftPast{
    height: 100px;
}
#rightPast {
    height: 100px;
}
#widthTableInfo {
    margin-left:80px;
    width: 60%;
}
#noName{
    width:150px;
    height:150px;
}
#tdContentPol {
   padding-top:0;
   padding-left:30px;
}


#buttInfo {
    width: 200px;
}
#location{
    padding-top:20px;
    float:left;
}

#sizePhoto{
    width:50px;
    height:50px;
}

.sliderCourse .item:nth-child(2n) {
    background: #666;
}

.sliderCourse .item:nth-child(2n+1) {
    background: #444;
}

.sliderCourse .item {
    height: 200px;
    color: #fff;
    text-align: center;
}

/*Список курсов*/
.rounded {
    counter-reset: li;
    list-style: none;
    font: 16px "Trebuchet MS", "Lucida Sans";
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.rounded a {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: white;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: .3s ease-out;
}

.rounded a:hover {
    background: white;
}

.rounded a:hover:before {
    transform: rotate(360deg);
}

.rounded a:before {
    padding-top:1px;
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #8FD4C1;
    height: 3em;
    width: 3em;
    line-height: 2em;
    border: .3em solid white;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

#elmList{
    padding-left:100px;
}
/*Список курсов*/

#listCourse{
    padding-left:15px;
}


#listCourse p a {
    color:black;
    font-size:16px;
}

.table tr td #margintoTop {
    padding-top:0px;
    vertical-align: top; /* Выравнивание по верхнему краю ячеек */
}