@model SubjectInfoViewModel

@{
    ViewData["Title"] = Model.Subject.Name;
}

<table>
    <tr>
        <td>
            <div>
                <h1>Задание</h1>
                @foreach (Mentor.Models.Task task in Model.Tasks)
                {
                     <a id="kindAA" asp-controller="Task" asp-action="IndexStudent" asp-route-taskId="@task.Id" asp-route-subjectId="@Model.Subject.Id">
                         @task.Name
                     </a>
                    
                }
            </div>

            
        </td>
        <td id="tdInfo">

        </td>
    </tr>
</table>

