@{
    ViewData["Title"] = "Курс";
}

<table>
    <tr>
        <td>
            <div>
                <h1>Лекции</h1>
                <a href=""><p>Лекция 1</p></a>
                <a href=""><p>Лекция 2</p></a>
                <a href=""><p>Лекция 3</p></a>
                <a href=""><p>Лекция 4</p></a>
                <a href=""><p>Лекция 5</p></a>
            </div>

            <div>
                <h1>Сюда заливаем отчет</h1>

                <a href=""><p>лаба1</p></a>
                <a href=""><p>лаба2</p></a>
                <a href=""><p>лаба3</p></a>
                <a href=""><p>лаба4</p></a>
            </div>
        </td>
        <td id="tdInfo">
            <p><a href="">Список преподавателей</a></p>
            <p><a href="">Список студентов</a></p>
            <a href=""><p>Журнал</p></a>
            <p><button type="button" class="btn btn-primary">Добавить студента</button></p>
            <p><button type="button" class="btn btn-primary">Добавить преподавателя</button></p>

        </td>
    </tr>
</table>

