@model SubjectInfoViewModel

@{
    ViewData["Title"] = Model.Subject.Name;
}

<table>
    <tr>
        <td>
            <div>
                <h1>Лекции</h1>
                @foreach (Mentor.Models.Task task in Model.Tasks)
                {
                    <a href=""><p>@task.Name</p></a>
                }
            </div>

            <div>
                <h1>Сюда заливаем отчет</h1>

                <a href=""><p>лаба1</p></a>
                <a href=""><p>лаба2</p></a>

            </div>
        </td>
        <td id="tdInfo">

            <a href=""><p>Журнал</p></a>

        </td>
    </tr>
</table>

