@model Mentor.ViewModels.RegisterStudentViewModel
@{ 
    ViewData["Title"] = "Регистрация";
}
    <center>

        <h2>Регистрация студента</h2>

        <form class="form-signin" method="post" asp-controller="Account" asp-action="StudentRegister">
            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-group col-sm-4 row">
                <label asp-for="Name" ></label><br />
                <input asp-for="Name" class="form-control" placeholder="Иван" />
                <span asp-validation-for="Name"></span>
            </div>

            <div class="form-group col-sm-4 row">
                <label asp-for="Surname"></label><br />
                <input asp-for="Surname" class="form-control" placeholder="Иванов" />
                <span asp-validation-for="Surname"></span>
            </div>

            <div class="form-group col-sm-4 row">
                <label asp-for="Patronymic"></label><br />
                <input asp-for="Patronymic" class="form-control" placeholder="Иванович" />
                <span asp-validation-for="Patronymic"></span>
            </div>

            <div class="form-group col-sm-4 row">
                <label asp-for="Email"></label><br />
                <input asp-for="Email" class="form-control" placeholder="ivanov@ivanoc.com" />
                <span asp-validation-for="Email"></span>
            </div>

            <div class="form-group col-sm-4 row">
                <label asp-for="PhoneNumber"></label><br />
                <input asp-for="PhoneNumber" class="form-control" placeholder="+38XXXXXXXXXX" />
                <span asp-validation-for="PhoneNumber"></span>
            </div>

            <div class="form-group col-sm-4 row">
                <label asp-for="Birthday"></label><br />
                <input asp-for="Birthday" type="date" class="form-control" />
                <span asp-validation-for="Birthday"></span>
            </div>

            <div class="form-group col-sm-4 row">
                <label asp-for="Password"></label><br />
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password"></span>
            </div>

            <div class="form-group col-sm-4 row">
                <label asp-for="PasswordConfirm"></label><br />
                <input asp-for="PasswordConfirm" class="form-control" />
                <span asp-validation-for="PasswordConfirm"></span>
            </div>

            <div class="form-group col-sm-4 row">
                <label>Группа</label><br />
                @Html.DropDownListFor(m => m.GroupId, Model.GroupItems, "Выберите группу", new { @class = "form-control" })
            </div>

            <div class="form-group">
                <button class="btn btn-primary" type="submit">Регистрация</button>
            </div>

        </form>

    </center>