@model Subject
@{
    ViewData["Title"] = "Mentor";
}


<form  method="post" asp-controller="Teacher" asp-action="AddSubject">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Name"></label><br />
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <button type="submit" class="btn btn-primary">Добавить курс</button>
</form>
