@{
    ViewData["Title"] = "Mentor";
}
    <table>
        <col width="30%" valign="top">
        <col width="70%" valign="top">
        <tr>
            <td id="leftPast">
                <table id="widthTableInfo">
                    <tr>
                        <td height="250px">
                            <p align="center"><img src="~/img/noName.png" id="noName" /></p>
                        </td>
                    </tr>
                    <tr>
                        <td height="350px" id="tdContentPol">
                            <p><button type="button" class="btn btn-primary" id="buttInfo">Добавить курс</button></p>
                            <p><button type="button" class="btn btn-danger" id="buttInfo">Удалить курс</button></p>
                            <p><button type="button" class="btn btn-success" id="buttInfo">Написать сообщение</button></p>

                        </td>
                    </tr>
                </table>
            </td>

            <td id="rightPast">
                <table>
                    <tr>
                        <td height="200px">
                            <div id="location">
                                <p>Имя: </p>
                                <p>Фамилия: </p>
                                <p>Дата рождения:</p>
                                <p>Email: </p>
                            </div>
                        </td>
                    </tr>
                    <tr height="400px">
                        <td>
                            <p>Курсы: </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>