@model New

@{
    ViewData["Title"] = "Добавить новость";
}

<div>
    <form method="post" asp-controller="New" asp-action="AddNew">
        <input type="hidden" value="@ViewBag.NewId" name="NewId" />
        <table>
            <tr>
                <td>Заголовок:</td>
                <td><input type="text" name="Heading" /> </td>
            </tr>
            <tr>
                <td>Информация:</td>
                <td><input type="text" name="Contents" /></td>
            </tr>

            <tr><td><input type="submit" value="Добавить" /> </td><td></td></tr>
        </table>
    </form>
</div>
